/***BASE STYLES***/
html {
  font-size: 12px;
  height: 100%;
  width: 100%;
}

body {
  color: #757c82;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

h1 {
  color: #493727;
  font-size: 2.25em;
  font-weight: 200;
  margin-top: 55px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h2 {
  font-family: 'Cookie', cursive;
  font-size: 2em;
  letter-spacing: 2px;
  width: 95%;
}

h2 span {
  color: #493727;
}

h3 {
  color: #493727;
  font-size: 2em;
  font-weight: 400;
  padding-top: 25px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Lora', serif;
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 0;
  text-align: center;
}

h5 {
  font-weight: 300;
}

p {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
}

/***HEADER***/
header {
  align-items: center;
  background: url('../img/header-image.jpg');
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid #493727;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 400px;
  width: 100%;
}

nav ul {
  list-style: none;
  position: absolute;
  right: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #757c82;
  opacity: 0.75;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  opacity: 1.5;
}

/***MY PORTFOLIO***/
main {
  align-items: center;
  background-image: linear-gradient(180deg, #ffffff, #d9cec8);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

#my-portfolio {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin-top: 30px;
  text-align: center;
  width: 90%;
}

.work-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 90%;
  width: 100%;
}

.section {
  align-items: center;
  display:flex;
  flex-direction: column;
  margin-top: 25px;
  max-width: 100%;
}

.one, .two {
  margin-bottom: 50px;
}

.section img {
  box-shadow: 0 0 25px rgba(0,0,0, .50);
  height: auto;
  max-width: 95%;
}

.github {
  display: inline-block;
  padding: 25px 0;
  text-align: center;
}

.github a {
  color: #493727;
  font-family: 'Lora', serif;
  font-size: 1.25em;
  padding: 1px;
  text-decoration: none;
}

/***ABOUT ME***/
#about-me {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  margin-bottom: 50px;
  width: 90%;
}

.about-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0 10px 0 0;
  width: 100%;
}

/***CONTACT ME***/
.contact-me {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 500px;
  width: 100%;
}

.contact-image {
  border: 10px solid #493727;
  border-radius: 8px;
  height: 200px;
}

.email {
  display: inline;
}

.contact-me a {
  color: #493727;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1em;
  padding: 1px;
  text-decoration: none;
}

.icon {
  height: 13px;
}

/***FOOTER***/
footer {
  display: flex;
  flex-flow: column nowrap;
  height: 75px;
  text-align: center;
  width: 100%;
}

/***TABLET***/
@media all and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  h2 {
    font-size: 3.5em;
    margin-top: 25px;
    padding-left: 50px;
    width: 95%;
  }

  header {
    min-height: 500px;
  }

  .about-container {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .about-section {
    width: 45%;
  }

  .section {
    max-width: 75%;
  }

  .icon {
    height: 15px;
  }

  .contact-me {
    min-height: 600px;
  }

  .contact-image {
    height: 250px;
  }
}

/***DESKTOP***/
@media all and (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  header {
    min-height: 600px;
  }

  .section {
    max-width: 50%;
  }

  .icon {
    height: 19px;
  }

  .contact-me {
    min-height: 700px;
  }

  .contact-image {
    min-height: 300px;
  }
}
